body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

table {
    margin-top: 20px;
}

th, td {
    text-align: center;
}

